# Environment variables
.env

# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc

# Download folder (agar temporary files store hote hain)




www.instagram.com_cookies.txt
www.facebook.com_cookies.txt
www.linkedin.com_cookies.txt